$mainColor: hsl(0, 0%, 100%);
$mainColorDark: hsl(0, 0%, 0%);
$accentColor: rgb(34, 46, 0);

html {
   font-size: clamp(0.31rem, calc(0.18rem + 0.69vw), 1rem);
   scroll-behavior: smooth;
}
body {
   color: $mainColorDark;
   font-size: 1.5rem;

   &.preload * {
      -webkit-transition: none !important;
      -moz-transition: none !important;
      -ms-transition: none !important;
      -o-transition: none !important;
      scroll-behavior: auto !important;
   }
   &.locked {
      overflow: hidden;
      touch-action: none;
      overscroll-behavior: none;
   }
}
::selection {
   background-color: $accentColor;
   color: $mainColor;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Rufina', serif;
   font-weight: 700;
}
h1 {
   font-size: rem(148);
   line-height: math.div(152, 148);
}
h2 {
   font-size: rem(108);
   line-height: math.div(120, 108);
}
h3 {
   font-size: rem(68);
   line-height: math.div(84, 68);
}
h4 {
   font-size: rem(48);
   line-height: math.div(64, 48);
}
h5 {
   font-size: rem(32);
   line-height: math.div(48, 32);
}
p {
   font-size: clamp(1.5rem, calc(5.1rem + -3vw), 4.5rem);
   line-height: math.div(33.6, 24);
}
.btn {
   padding: rem(20) rem(46);
   border: 2px solid $mainColorDark;
   background-color: inherit;
   font-size: rem(32);
   line-height: math.div(48, 32);
   cursor: pointer;
   transition: all 300ms ease-in-out;
}
.btn:hover,
.btn:focus-visible {
   outline: 5px solid $accentColor;
   outline-offset: 5px;
}
.btn[data-accent]:hover,
.btn[data-accent]:focus-visible {
   outline: 5px solid $mainColor;
   outline-offset: 5px;
}
[class*='__container'] {
   $max-width: rem(1644);
   $padding: rem(30);
   width: min($max-width, 100% - $padding);
   margin-inline: auto;
}
.main-spacing {
   padding-block: clamp(5rem, calc(3.23rem + 8.88vw), 12.5rem);
}
.main-spacing-bottom {
   padding-bottom: clamp(5rem, calc(3.23rem + 8.88vw), 12.5rem);
}
.main-spacing-top {
   padding-top: clamp(5rem, calc(3.23rem + 8.88vw), 12.5rem);
}

@media screen and (max-width: 40em) {
   .btn:hover,
   .btn:focus-visible {
      outline: 2px solid $accentColor;
      outline-offset: 2px;
   }
   .btn[data-accent]:hover,
   .btn[data-accent]:focus-visible {
      outline: 2px solid $mainColor;
      outline-offset: 2px;
   }
}
