.reservation {
   background-color: hsl(85, 30%, 92%);
   // .reservation__content

   &__content {
      text-align: center;
   }

   // .reservation__title

   &__title {
      margin-bottom: rem(20);
   }

   // .reservation__description

   &__description {
      color: hsl(0, 0%, 30%);
   }
   &__btn {
      color: $mainColor;
      background-color: $accentColor;
   }
}
.form {
   // .form__inputs

   &__inputs {
      display: flex;
      gap: rem(48);
      justify-content: space-between;
      align-items: center;
      padding-block: clamp(rem(130), 1rem + 5vw, rem(50));

      &::selection {
         background-color: $accentColor;
         color: $mainColor;
      }

      & select {
         align-self: stretch;
         position: relative;
         background-color: transparent;
         cursor: pointer;

         &:focus-within + span {
            transform: translateY(-50%) rotate(180deg);
         }
      }
   }
   &__input {
      padding: rem(30) rem(40);
      flex: 1 1 100%;
      background-color: transparent;
      border: 2px solid $mainColorDark;

      &:focus {
         outline: 2px solid $accentColor;
      }
   }
}
