.reservation {
   background-color: hsl(85, 29%, 92%);
   // .reservation__content

   &__content {
      text-align: center;
   }

   // .reservation__title

   &__title {
      margin-bottom: rem(20);
   }

   // .reservation__description

   &__description {
      color: hsl(0, 0%, 30%);
   }
   &__btn {
      color: $mainColor;
      background-color: $accentColor;
   }
}
.form {
   // .form__inputs

   &__inputs {
      display: flex;
      gap: rem(48);
      justify-content: space-between;
      align-items: center;
      padding-block: clamp(rem(130), 1rem + 5vw, rem(50));

      & select {
         align-self: stretch;
         position: relative;
         border: none;
         background-color: transparent;
         appearance: none;
         -webkit-appearance: none;
         width: 100%;
         height: 100%;
         outline: none;
         cursor: pointer;

         &:focus-within + span {
            transform: translateY(-50%) rotate(180deg);
         }
      }
   }
   &__input {
      padding: rem(30) rem(40);
      flex: 1 1 100%;
      background-color: transparent;
      border: 2px solid $mainColorDark;

      &:focus-visible {
         border: 2px solid red;
      }
   }
}
// .select-wrapper
.select-wrapper {
   display: flex;
   align-items: center;
   position: relative;

   & span {
      position: absolute;
      top: 50%;
      right: 30%;
      pointer-events: none;
      transform: translateY(-50%);
      transition: all 300ms ease;
   }
}
